<launch>
  <group ns="drone1">
    <node pkg="your_package_name" type="drone_monitor.py" name="monitor1" output="screen">
      <param name="telemetry_topic" value="/drone1/telemetry"/>
    </node>
  </group>

  <group ns="drone2">
    <node pkg="your_package_name" type="drone_monitor.py" name="monitor2" output="screen">
      <param name="telemetry_topic" value="/drone2/telemetry"/>
    </node>
  </group>

  <!-- Add more drones similarly -->
</launch>
